/* 태그 선택자 */

/* h1 {
  background-color: silver;
  color: red;
  font-weight: bold;
  font-size: 30px;
}
p {
  font-size: 18px;
  background-color: #000;
  color: #fff;
} */

/* 전체 선택자 */

* {
  color: blue;
}

/* class 선택자 / 공통된 요소를 설정시 유용*/

/* .color {
  color: blueviolet;
}
.line {
  text-decoration: underline;
}
.weight {
  font-weight: bold;
} */

/* id 선택자 / 유일하게 */

/* #title {
  color: brown;
} */

/* 자손 선택자 / 하위 선택자 */
/* div h2 {
  color: green;
} */

/* 자식 선택자 */
div > h2 {
  color: red;
}
