@charset "utf-8";
/* text-transform */
/* 전부 대문자로 */
h1.uppercase {
  text-transform: uppercase;
}
/* 전부 소문자 */
h1.lowercase {
  text-transform: lowercase;
}
/* 앞글자만 대문자 */
h1.capitalize {
  text-transform: capitalize;
}
/* 사이즈를 다른 대문자로 */
h1.smallcaps {
  font-variant: small-caps;
}
